.wave-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 10;
  overflow: hidden;
}

.wave-svg {
  width: 100%;
  height: 100%;
  display: block;
}

.wave-path {
  transition: opacity 0.3s ease;
}
